* {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

body {
    margin: 0;
    /* background-color: rgb(0 58 112 / 3%); */
    background-color: rgb(255 202 0 / 10%);
}
a {
    text-decoration: none;
    color: black;
}

h1 {
    color: #ffcb03;
}

#hiddenId {
    display: none;
}

#mainDetail {
    width: 100%;
}



.navButton:hover, #backButton:hover {
    background-color: #c4f0e1;
    /* padding: 4px 12px; */
}


#pokeDetailHeader {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    position: relative;

}


#pokeImg {
    position: relative;
    left: 20px;
    padding-bottom: 5px;
    width: 20%;
    transform: translateX(-500px);
    
    /* Animation slide from left */
    animation: moveImg 1.5s ease forwards;
}
@keyframes moveImg {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

#pokeName {
    font-size: 2.5em;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px black;
    position: absolute;
    right: 10%;
    transform: translateY(50%) translateX(500px);

    /* Animation slide from right */
    animation: moveName 1.5s ease forwards, underlineAnim 0.5s 1s ease forwards;
}
@keyframes moveName {
    from {
        transform: translateY(50%) translateX(500px);
    }
    to {
        transform: translateY(50%) translateX(0px);
    }
}
@keyframes underlineAnim {
    from {
        text-decoration-color: rgba(255,255,255,0);
        text-underline-offset: 50px;
    }
    to {
        text-decoration-color: rgba(255,255,255,1);
        text-underline-offset: 5px;
    }
}



#pokeDetailContent {


}